/*General*/
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/*menu titre connexion*/
body .menu {
    background-color: #9b59b6;
    color: #FFFFFF;
    height: 50px;
    position: relative;
    z-index: 6;
  }

body .title {
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  padding:0 20px;
  text-transform:uppercase;
  position: absolute;
  top: -30%;
  right: 10%;
  color: #FFFFFF;
  }

body .menu .burger {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  font-size: 5vw;
  line-height: 50px;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: center;
  width: 50px;
  z-index: 5;
  }

body .menu .burger:before {
  content: '☰';
  }

body .menu .burger:checked + nav {
  height: calc(100vh - 50px);
  opacity: 0.9;
  }

body .menu .burger:checked:before {
  content: 'X';
  }

body .menu nav {
  background: inherit;
  font-size: 20px;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: height .2s;
  width: 100%;
  }

body .menu nav > * {
  display: block;
  letter-spacing: 1px;
  padding: 0 20px;
  width: 100%;
  font-size: 4vw;
  }

body .menu nav ul {
  list-style-type: none;
  }

body .menu nav ul li {
  text-align: center;
  }

body .menu nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  }
/*fin menu titre connexion
  header*/
header{
  position: relative;
  margin: 0 2%;
  margin-bottom: 50px;
}

header img{
  width: 100%;
}

.div_profil{
  width: 100%;
  position: absolute;
  top: 75%;
  left: 0;
  display: flex;
  justify-content: center;
}

.img_profil{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/*fin header
  section general*/
section{
  margin: 1% 2%;
}

section h2{
  font-family: 'Roboto blod', sans-serif;
  font-size: 20px;
  color: #9b59b6;
  text-decoration: underline;
}
/*section article index.html*/
#sectionArticleIndex .articles{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ."
                       ". .";
  grid-gap: 2%;
}

#sectionArticleIndex article{
  margin: 0;
  padding: 0;
}

#sectionArticleIndex article figure img{
  margin: 0;
  padding: 0;
  width: 100%;
}

#sectionArticleIndex figure{
  margin: 0;
  padding: 0;
  position: relative;
}

#sectionArticleIndex figcaption{
  position: absolute;
  width: 90%;
  top: 0;
  margin: 0;
  padding: 5px 5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto blod', sans-serif;
  font-size: 12px;
  background-color: #9b59b6;
  color: white;
  z-index: 2;
}
/*fin section article index.html
  section article allArticle.html*/
#sectionArticle .articles{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sectionArticle article{
  margin: 2% 0;
  padding: 0;
}

#sectionArticle figure{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 25px 1fr 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img titre"
                       "img p"
                       "img a";
  grid-column-gap: 2%;
}

#sectionArticle article figure img{
  grid-area: img;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#sectionArticle h3{
  grid-area: titre;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto blod', sans-serif;
  font-size: 15px;
  background-color: #9b59b6;
  color: white;
}

#sectionArticle p{
  grid-area: p;
  margin: 0;
  margin-top: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

#sectionArticle a{
  grid-area: a;
  height: 12px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 12px;
}
/*fin section allArticle.html
  section article article.html*/
#article .articles{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#article article{
  margin: 2% 0;
  padding: 0;
}

#article figure{
  margin: 0;
  padding: 0;
}

#article article figure img{
  margin: 0;
  padding: 0;
  width: 100%;
}

#article h3{
  margin: 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto blod', sans-serif;
  font-size: 15px;
  background-color: #9b59b6;
  color: white;
}

#article p{
  margin: 0;
  margin-top: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/*fin section article article.html
  section pagination general*/
.pagination{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.pagination ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: flex;
}

.pagination li{
  width: 25px;
  margin: 2%;
  padding: 5px; 
  border: solid 1px #9b59b6;
}

.pagination a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto blod', sans-serif;
  font-size: 15px;
  color: #9b59b6;
}
/*fin section pagination general
  formulaire connexion et inscription*/
section.login-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  
section.login-container > div { /*on prend juste la div*/
  width: 450px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section.login-container form{
  display: flex;
  flex-direction: column;
}

form input[type="password"],
form input[type="text"],
form button[type="submit"]{
  margin-bottom: 32px;
  padding: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

form input[type="password"]:focus,
form input[type="password"]:hover,
form input[type="text"]:focus,
form input[type="text"]:hover{
  background-color: #ccc;
}

form button[type="submit"]{
  font-weight: bold;
  color: #black;
  text-transform: uppercase;
  background-color: #e67e22;
}

form button[type="submit"]:focus,
form button[type="submit"]:hover{
  background-color: #d35400;
}

.danger {
  border: 3px solid red !important;
}
/*fin formulaire
  footer general*/
footer{
  background-color: #9b59b6;
  margin: 0 2%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nav nav nav"
                       ". . .";
}

footer nav{
  padding: 0;
  grid-area: nav;
}

footer nav ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . . .";
}

footer nav a{
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
}

footer div{
  text-align: center;
}
/*fin footer general*/